*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Poppins',sans-serif;
}
.cabecalho{
    background-color: black;
    color: aliceblue;
    display:flex ;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-lista-item{
    display: inline-block;
    margin:0 16px;
    font-size: 16px;
}
.sobre-o-jogo{
background-color: rgb(60, 11, 105);
color: azure;
display: flex;
justify-content: center;
align-items: center;
padding: 24px 0;
}
.sobre-o-jogo-img{
    width: 25%;
}
/* secao lojas*/
.bosses{
    background-color: #4aa8c5;
}

.bosses-titulo{
color: #3B0050;
text-align: center;
padding: 50px;
font-size: 45px;
}

.bosses{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.bosses-img{
    text-align: center;
}

.bosses-img{
    width: 200px;
}
.sobre-jogo{
    font-weight: 100;
    text-decoration: underline;
    color: #FFFFFF;
}
.bosses-icone{
    width: 39px;
    padding: 5px 0 10px 0;
}
.bosses-icone{
    width: 35px;
    padding: 5px 0;
}