*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Poppins',sans-serif;
}
.cabecalho{
    background-color: black;
    color: aliceblue;
    display:flex ;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-lista-item{
    display: inline-block;
    margin:0 16px;
    font-size: 16px;
}
.sobre-o-jogo{
background-color: rgb(60, 11, 105);
color: azure;
display: flex;
justify-content: center;
align-items: center;
padding: 24px 0;
}
.sobre-o-jogo-img{
    width: 25%;
}