*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Poppins',sans-serif;
}
.terraria{
    background-color: black;
    color: aliceblue;
    display:flex ;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.terraria{
    width: 10%;
}
.terraria-lista-item{
    display: inline-block;
    margin:0 16px;
    font-size: 16px;
}